#usuario-modal{
    .ss-modal-body{  
        margin-top: 20px; 
        margin-left: 20px; 
        margin-right: 20px; 
    }
    .campo-bloqueado{
        background-color: rgba(7, 7, 7, 0.048);
    }
    .input-cpf2{
        width: 100% !important;
        border: 1px solid #34495E !important; 
        border-radius: 4px;
    }

    .input-cpf{ 
        border-radius: 4px !important;
        border: 1px solid #34495E !important; 
        background-color: transparent !important;
        width: 100% !important;
        color: #34495E !important;
        input{ 
            height: 36px !important;
            background-color: transparent !important;
            color: #34495E !important;
        }
    }
}  