//imports
@import '../styles/scss/variaveis';
@import '../styles/scss/mixins';
@import '../grid/grid.component';

/*
Tabs
========================================== */

.ss-tab {
    overflow: auto;
    display: flex;
    border: $comp-border;
    border-radius: 4px 4px 0 0;
    background-color: $cor-base-1;
    box-shadow: $comp-shadow;
    .ss-tab-links {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        height: 52px;
        padding: 4px 14px;
        transition: 0.3s;
        padding: $comp-padding;
        transition: 0.3s;
        color: $cor-base-3;
        word-wrap: initial;
        overflow: hidden;
        flex-shrink: 0;
        &:hover {
            background-color: $cor-background;
        }
        &.active {
            border-bottom: 2px solid $cor-highlight;
            color: $cor-base-4;
        }
    }
}

.ss-tab-content {
    display: none;
    width: 100%;
}

.ss-card>.ss-tab {
    border: none;
    border-bottom: $comp-border;
    border-radius: initial;
    background-color: transparent;
    box-shadow: none;
}

@media screen and (min-width: 768px) {
    .ss-tab {
        .ss-tab-links {
            width: auto;
        }
    }
}
