<div class="ss-grid">

        <div class="col-6 col-md-6">
          <breadcrumb #parent>
            <div class="ss-breadcrumb">
              <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                <span *ngIf="!route.terminal">
                  <h6>{{route.displayName}}</h6>
                  <a class="ss-breadcrumb-item" href="" [routerLink]="[route.url]">
                    <span #breadcrumbItemTerminal>{{ route.displayName }}</span>
                  </a>
                </span>
                <span *ngIf="route.terminal" class="ss-breadcrumb-item active" #breadcrumbItem aria-current="page">
                  <h6>{{route.displayName}}</h6>
                  <span>{{ route.displayName }}</span>x
                </span>
                
              </ng-template>
            </div>
          </breadcrumb>
        </div>

        <sc-header-actions-container class="col-6 col-md-6"></sc-header-actions-container>
      </div>