// _sicoob-style.scss
// ===========================================
// Overrides
* {
    box-sizing: border-box;
}

// /* Grid 
// =============================================== */
// .ss-grid {
//     display: -ms-grid;
//     display: grid;
//     grid-gap: 3vw;
//     -ms-grid-columns: repeat(12, 1fr);
//     grid-template-columns: repeat(12, 1fr);
//     overflow: unset;
//     word-wrap: break-word;
// }
// .ss-grid-center {
//     -ms-justify-items: center;
//     justify-items: center;
// }
// .col-1,
// .col-2,
// .col-3,
// .col-4,
// .col-5,
// .col-6,
// .col-7,
// .col-8,
// .col-9,
// .col-10,
// .col-11,
// .col-12,
// .col-md-1,
// .col-md-2,
// .col-md-3,
// .col-md-4,
// .col-md-5,
// .col-md-6,
// .col-md-7,
// .col-md-8,
// .col-md-9,
// .col-md-10,
// .col-md-11,
// .col-md-12 {
//     -ms-grid-column: span 12;
//     grid-column: span 12;
//     // overflow: auto;
// }
// .col-sm-1 {
//     -ms-grid-column: span 1;
//     grid-column: span 1;
// }
// .col-sm-2 {
//     -ms-grid-column: span 2;
//     grid-column: span 2;
// }
// .col-sm-3 {
//     -ms-grid-column: span 3;
//     grid-column: span 3;
// }
// .col-sm-4 {
//     -ms-grid-column: span 4;
//     grid-column: span 4;
// }
// .col-sm-5 {
//     -ms-grid-column: span 5;
//     grid-column: span 5;
// }
// .col-sm-6 {
//     -ms-grid-column: span 6;
//     grid-column: span 6;
// }
// .col-sm-7 {
//     -ms-grid-column: span 7;
//     grid-column: span 7;
// }
// .col-sm-8 {
//     -ms-grid-column: span 8;
//     grid-column: span 8;
// }
// .col-sm-9 {
//     -ms-grid-column: span 9;
//     grid-column: span 9;
// }
// .col-sm-10 {
//     -ms-grid-column: span 10;
//     grid-column: span 10;
// }
// .col-sm-11 {
//     -ms-grid-column: span 11;
//     grid-column: span 11;
// }
// .col-sm-12 {
//     -ms-grid-column: span 12;
//     grid-column: span 12;
// }
// @media screen and (min-width: 768px) {
//     .ss-grid {
//         grid-gap: 1vw;
//     }
//     .col-md-1 {
//         grid-column: span 1;
//         -ms-grid-column: span 1;
//     }
//     .col-md-2 {
//         grid-column: span 2;
//         -ms-grid-column: span 2;
//     }
//     .col-md-3 {
//         -ms-grid-column: span 3;
//         grid-column: span 3;
//     }
//     .col-md-4 {
//         -ms-grid-column: span 4;
//         grid-column: span 4;
//     }
//     .col-md-5 {
//         -ms-grid-column: span 5;
//         grid-column: span 5;
//     }
//     .col-md-6 {
//         -ms-grid-column: span 6;
//         grid-column: span 6;
//     }
//     .col-md-7 {
//         -ms-grid-column: span 7;
//         grid-column: span 7;
//     }
//     .col-md-8 {
//         -ms-grid-column: span 8;
//         grid-column: span 8;
//     }
//     .col-md-9 {
//         -ms-grid-column: span 9;
//         grid-column: span 9;
//     }
//     .col-md-10 {
//         -ms-grid-column: span 10;
//         grid-column: span 10;
//     }
//     .col-md-11 {
//         -ms-grid-column: span 11;
//         grid-column: span 11;
//     }
//     .col-md-12 {
//         -ms-grid-column: span 12;
//         grid-column: span 12;
//     }
// }
// @media screen and (min-width: 992px) {
//     // Colunas
//     .col-1 {
//         -ms-grid-column: span 1;
//         grid-column: span 1;
//     }
//     .col-2 {
//         -ms-grid-column: span 2;
//         grid-column: span 2;
//     }
//     .col-3 {
//         -ms-grid-column: span 3;
//         grid-column: span 3;
//     }
//     .col-4 {
//         -ms-grid-column: span 4;
//         grid-column: span 4;
//     }
//     .col-5 {
//         -ms-grid-column: span 5;
//         grid-column: span 5;
//     }
//     .col-6 {
//         -ms-grid-column: span 6;
//         grid-column: span 6;
//     }
//     .col-7 {
//         -ms-grid-column: span 7;
//         grid-column: span 7;
//     }
//     .col-8 {
//         -ms-grid-column: span 8;
//         grid-column: span 8;
//     }
//     .col-9 {
//         -ms-grid-column: span 9;
//         grid-column: span 9;
//     }
//     .col-10 {
//         -ms-grid-column: span 10;
//         grid-column: span 10;
//     }
//     .col-11 {
//         -ms-grid-column: span 11;
//         grid-column: span 11;
//     }
//     .col-12 {
//         -ms-grid-column: span 12;
//         grid-column: span 12;
//     }
//     // Linhas
//     .row-1 {
//         -ms-grid-row: span 1;
//         grid-row: span 1;
//     }
//     .row-2 {
//         -ms-grid-row: span 1;
//         grid-row: span 2;
//     }
//     .row-3 {
//         -ms-grid-row: span 1;
//         grid-row: span 3;
//     }
//     .row-4 {
//         -ms-grid-row: span 1;
//         grid-row: span 4;
//     }
//     .row-5 {
//         -ms-grid-row: span 1;
//         grid-row: span 5;
//     }
//     .row-6 {
//         -ms-grid-row: span 1;
//         grid-row: span 6;
//     }
//     .row-7 {
//         -ms-grid-row: span 1;
//         grid-row: span 7;
//     }
//     .row-8 {
//         -ms-grid-row: span 1;
//         grid-row: span 8;
//     }
//     .row-9 {
//         -ms-grid-row: span 1;
//         grid-row: span 9;
//     }
//     .row-10 {
//         -ms-grid-row: span 1;
//         grid-row: span 10;
//     }
// }
// // ##################################
// //offset
// .col-offset-start-1,
// .col-offset-start-2,
// .col-offset-start-3,
// .col-offset-start-4,
// .col-offset-start-5,
// .col-offset-start-6,
// .col-offset-start-7,
// .col-offset-start-8,
// .col-offset-start-9,
// .col-offset-start-10,
// .col-offset-start-11,
// .col-offset-start-12,
// .col-md-offset-start-1,
// .col-md-offset-start-2,
// .col-md-offset-start-3,
// .col-md-offset-start-4,
// .col-md-offset-start-5,
// .col-md-offset-start-6,
// .col-md-offset-start-7,
// .col-md-offset-start-8,
// .col-md-offset-start-9,
// .col-md-offset-start-10,
// .col-md-offset-start-11,
// .col-md-offset-start-12 {
//     -ms-grid-column: auto;
//     grid-column: auto;
// }
// .col-offset-end-1,
// .col-offset-end-2,
// .col-offset-end-3,
// .col-offset-end-4,
// .col-offset-end-5,
// .col-offset-end-6,
// .col-offset-end-7,
// .col-offset-end-8,
// .col-offset-end-9,
// .col-offset-end-10,
// .col-offset-end-11,
// .col-offset-end-12,
// .col-md-offset-end-1,
// .col-md-offset-end-2,
// .col-md-offset-end-3,
// .col-md-offset-end-4,
// .col-md-offset-end-5,
// .col-md-offset-end-6,
// .col-md-offset-end-7,
// .col-md-offset-end-8,
// .col-md-offset-end-9,
// .col-md-offset-end-10,
// .col-md-offset-end-11,
// .col-md-offset-end-12 {
//     -ms-grid-column: span 12;
//     grid-column: span 12;
//     overflow: auto;
// }
// .col-sm-offset-start-1 {
//     grid-column-start: 2;
// }
// .col-sm-offset-start-2 {
//     grid-column-start: 3;
// }
// .col-sm-offset-start-3 {
//     grid-column-start: 4;
// }
// .col-sm-offset-start-4 {
//     grid-column-start: 5;
// }
// .col-sm-offset-start-5 {
//     grid-column-start: 6;
// }
// .col-sm-offset-start-6 {
//     grid-column-start: 7;
// }
// .col-sm-offset-start-7 {
//     grid-column-start: 8;
// }
// .col-sm-offset-start-8 {
//     grid-column-start: 9;
// }
// .col-sm-offset-start-9 {
//     grid-column-start: 10;
// }
// .col-sm-offset-start-10 {
//     grid-column-start: 11;
// }
// .col-sm-offset-start-11 {
//     grid-column-start: 12;
// }
// .col-sm-offset-end-1 {
//     grid-column-end: span 1;
// }
// .col-sm-offset-end-2 {
//     grid-column-end: span 2;
// }
// .col-sm-offset-end-3 {
//     grid-column-end: span 3;
// }
// .col-sm-offset-end-4 {
//     grid-column-end: span 4;
// }
// .col-sm-offset-end-5 {
//     grid-column-end: span 5;
// }
// .col-sm-offset-end-6 {
//     grid-column-end: span 6;
// }
// .col-sm-offset-end-7 {
//     grid-column-end: span 7;
// }
// .col-sm-offset-end-8 {
//     grid-column-end: span 8;
// }
// .col-sm-offset-end-9 {
//     grid-column-end: span 9;
// }
// .col-sm-offset-end-10 {
//     grid-column-end: span 10;
// }
// .col-sm-offset-end-11 {
//     grid-column-end: span 11;
// }
// @media screen and (min-width: 768px) {
//     .col-md-offset-start-1 {
//         grid-column-start: 2;
//     }
//     .col-md-offset-start-2 {
//         grid-column-start: 3;
//     }
//     .col-md-offset-start-3 {
//         grid-column-start: 4;
//     }
//     .col-md-offset-start-4 {
//         grid-column-start: 5;
//     }
//     .col-md-offset-start-5 {
//         grid-column-start: 6;
//     }
//     .col-md-offset-start-6 {
//         grid-column-start: 7;
//     }
//     .col-md-offset-start-7 {
//         grid-column-start: 8;
//     }
//     .col-md-offset-start-8 {
//         grid-column-start: 9;
//     }
//     .col-md-offset-start-9 {
//         grid-column-start: 10;
//     }
//     .col-md-offset-start-10 {
//         grid-column-start: 11;
//     }
//     .col-md-offset-start-11 {
//         grid-column-start: 12;
//     }
//     .col-md-offset-end-1 {
//         grid-column-end: span 1;
//     }
//     .col-md-offset-end-2 {
//         grid-column-end: span 2;
//     }
//     .col-md-offset-end-3 {
//         grid-column-end: span 3;
//     }
//     .col-md-offset-end-4 {
//         grid-column-end: span 4;
//     }
//     .col-md-offset-end-5 {
//         grid-column-end: span 5;
//     }
//     .col-md-offset-end-6 {
//         grid-column-end: span 6;
//     }
//     .col-md-offset-end-7 {
//         grid-column-end: span 7;
//     }
//     .col-md-offset-end-8 {
//         grid-column-end: span 8;
//     }
//     .col-md-offset-end-9 {
//         grid-column-end: span 9;
//     }
//     .col-md-offset-end-10 {
//         grid-column-end: span 10;
//     }
//     .col-md-offset-end-11 {
//         grid-column-end: span 11;
//     }
// }
// @media screen and (min-width: 992px) {
//     .col-offset-start-1 {
//         grid-column-start: 2;
//     }
//     .col-offset-start-2 {
//         grid-column-start: 3;
//     }
//     .col-offset-start-3 {
//         grid-column-start: 4;
//     }
//     .col-offset-start-4 {
//         grid-column-start: 5;
//     }
//     .col-offset-start-5 {
//         grid-column-start: 6;
//     }
//     .col-offset-start-6 {
//         grid-column-start: 7;
//     }
//     .col-offset-start-7 {
//         grid-column-start: 8;
//     }
//     .col-offset-start-8 {
//         grid-column-start: 9;
//     }
//     .col-offset-start-9 {
//         grid-column-start: 10;
//     }
//     .col-offset-start-10 {
//         grid-column-start: 11;
//     }
//     .col-offset-start-11 {
//         grid-column-start: 12;
//     }
//     .col-offset-end-1 {
//         grid-column-end: span 1;
//     }
//     .col-offset-end-2 {
//         grid-column-end: span 2;
//     }
//     .col-offset-end-3 {
//         grid-column-end: span 3;
//     }
//     .col-offset-end-4 {
//         grid-column-end: span 4;
//     }
//     .col-offset-end-5 {
//         grid-column-end: span 5;
//     }
//     .col-offset-end-6 {
//         grid-column-end: span 6;
//     }
//     .col-offset-end-7 {
//         grid-column-end: span 7;
//     }
//     .col-offset-end-8 {
//         grid-column-end: span 8;
//     }
//     .col-offset-end-9 {
//         grid-column-end: span 9;
//     }
//     .col-offset-end-10 {
//         grid-column-end: span 10;
//     }
//     .col-offset-end-11 {
//         grid-column-end: span 11;
//     }
// }

/* Text 
=============================================== */

body {
    // font-family: "Myriad", Helvetica, Arial, sans-serif;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $cor-base-4;
}

h1 {
    font-weight: bold;
    @include font-style(48px, 54px, 28px, 0);
}

h2 {
    @include font-style(42px, 48px, 24px, 24px);
}

h3 {
    @include font-style(36px, 42px, 20px, 20px);
}

h4 {
    @include font-style(30px, 36px, 16px, 16px);
}

h5 {
    @include font-style(24px, 32px, 12px, 12px);
}

h6 {
    @include font-style(18px, 24px, 8px, 8px);
}

p {
    margin-bottom: 12px;
    margin-top: 12px;
    line-height: 20px;
}

.ss-color-text {
    color: $cor-base-4;
}

.ss-tag-text {
    color: $cor-base-3;
}

small {
    margin-bottom: 12px;
    font-size: 85%;
}

.ss-info-label {
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    font-weight: bolder;
    color: $cor-base-4;
}

em {
    font-style: italic;
}

a,
a:visited {
    cursor: pointer;
    color: $cor-highlight;
}

blockquote {
    border-left: 3px solid $cor-base-2;
    padding-left: 14px;
    font-size: 16px;
    margin-left: 28px;
}

pre {
    margin: 0;
}

.ss-text-lead {
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
}

.ss-align-center {
    text-align: center;
}


/* lists
=============================================== */

ul {
    padding-left: 16px;
    list-style-type: circle;
}

li {
    margin-bottom: 0.6rem;
}

dl {
    margin-left: 0;
}

dt {
    font-weight: bold;
    display: block;
}

dd {
    margin-left: 0;
    margin-bottom: 1rem;
}

// .ss-list {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     padding-top: 20px;
//     line-height: 20px;
//     .ss-list-img,
//     .ss-list-icon {
//         height: 52px;
//         width: 52px;
//         display: flex;
//         border-radius: 50%;
//         align-items: center;
//         justify-content: center;
//         color: $cor-base-3;
//     }
//     .ss-list-icon {
//         border: 1px solid $cor-base-3;
//     }
//     .ss-list-info {
//         margin-left: 12px;
//         .ss-list-item,
//         .ss-list-tag {
//             margin: 0;
//         }
//         .ss-list-item {
//             font-weight: bold;
//         }
//     }
//     &:first-child {
//         padding-top: 0;
//     }
//     &.ss-divider {
//         border-bottom: 1px solid $cor-base-2;
//         padding-bottom: 20px;
//     }
// }
// /* Tables
// =============================================== */
// table {
//     line-height: 20px;
// }
// table,
// th,
// td {
//     border-collapse: collapse;
//     text-align: left;
// }
// .ss-table {
//     overflow: auto;
//     table {
//         background-color: $cor-base-1;
//         width: 100%;
//         tr {
//             box-shadow: $comp-shadow;
//             border: $comp-border;
//             &:hover {
//                 background-color: $cor-selection;
//                 color: $cor-theme-1;
//             }
//             th {
//                 color: $cor-base-4;
//             }
//         }
//         th {
//             background-color: $cor-base-2;
//             min-width: 132px;
//             font-weight: normal;
//             text-transform: uppercase;
//             font-size: 12px;
//         }
//         th,
//         td {
//             padding: 12px 24px;
//             min-height: 52px;
//         }
//     }
//     .ss-table-actions {
//         text-align: right;
//         a,
//         button {
//             color: $cor-base-4;
//         }
//     }
// }
// .ss-table-striped {
//     tr:nth-child(odd) {
//         background-color: $cor-background;
//         &:hover {
//             background-color: $cor-selection;
//             ;
//         }
//     }
// }
// .ss-table-sortable {
//     th .ss-icon {
//         height: 16px;
//         width: 16px;
//         margin: 0;
//         margin-left: 4px;
//         vertical-align: middle;
//     }
// }
// @media screen and (max-width: 768px) {
//     .ss-table table thead {
//         display: none;
//     }
//     .ss-table table tr {
//         border-bottom: 1px solid $cor-base-2;
//         display: block;
//     }
//     .ss-table table td {
//         display: block;
//         text-align: right;
//     }
//     .ss-table table td:before {
//         content: attr(data-label);
//         float: left;
//         text-transform: uppercase;
//         font-size: 12px;
//         padding-right: 8px;
//     }
//     .ss-table table td:last-child {
//         border-bottom: 0;
//     }
// }
// /* Buttons
// =============================================== */
// .ss-btn,
// input[type="button"],
// input[type="submit"],
// input[type="reset"],
// input[type="file"] {
//     display: flex;
//     width: 100%;
//     height: 36px;
//     border-radius: 4px;
//     margin-bottom: 8px;
//     padding: $comp-padding;
//     cursor: pointer;
//     white-space: nowrap;
//     text-decoration: none;
//     background-color: transparent;
//     transition: 0.5s;
//     align-items: center;
//     justify-content: center;
// }
// .ss-btn-default {
//     border: $comp-border;
//     border-color: $cor-base-2;
//     background-color: $cor-base-2;
//     color: $cor-base-4;
// }
// .ss-btn-primary {
//     border: $comp-border;
//     border-color: $cor-highlight;
//     background-color: $cor-highlight;
//     color: $cor-label;
// }
// .ss-btn-success {
//     border: $comp-border;
//     border-color: $cor-success;
//     background-color: $cor-success;
//     color: $cor-label;
// }
// .ss-btn-warning {
//     border: $comp-border;
//     border-color: $cor-warning;
//     background-color: $cor-warning;
//     color: $cor-label;
// }
// .ss-btn-danger {
//     border: $comp-border;
//     border-color: $cor-danger;
//     background-color: $cor-danger;
//     color: $cor-label;
// }
// // outline buttons
// .ss-btn-outline-default,
// .ss-btn-outline-primary,
// .ss-btn-outline-success,
// .ss-btn-outline-warning,
// .ss-btn-outline-danger {
//     border: 2px solid;
// }
// .ss-btn-outline-default {
//     border-color: $cor-base-2;
//     color: $cor-base-4;
// }
// .ss-btn-outline-primary {
//     border-color: $cor-highlight;
//     color: $cor-highlight;
// }
// .ss-btn-outline-success {
//     border-color: $cor-success;
//     color: $cor-success;
// }
// .ss-btn-outline-warning {
//     border-color: $cor-warning;
//     color: $cor-warning;
// }
// .ss-btn-outline-danger {
//     border-color: $cor-danger;
//     color: $cor-danger;
// }
// //hover buttons
// .ss-btn-primary:hover,
// .ss-btn-success:hover,
// .ss-btn-warning:hover,
// .ss-btn-danger:hover,
// .ss-btn-neutral:visited,
// .ss-btn-default:visited,
// .ss-btn-primary:visited,
// .ss-btn-success:visited,
// .ss-btn-warning:visited,
// .ss-btn-danger:visited,
// .ss-btn-outline-primary:visited,
// .ss-btn-outline-success:visited,
// .ss-btn-outline-warning:visited,
// .ss-btn-outline-danger:visited {
//     color: $cor-label;
// }
// .ss-btn-default:hover,
// .ss-btn-primary:hover,
// .ss-btn-success:hover,
// .ss-btn-warning:hover,
// .ss-btn-danger:hover {
//     filter: brightness(0.9);
//     box-shadow: inset 1px 1px 2px $cor-shadow-1;
// }
// .ss-btn-outline-default:hover {
//     background-color: $cor-base-2;
//     color: $cor-base-4;
// }
// .ss-btn-outline-primary:hover {
//     background-color: $cor-highlight;
//     color: $cor-label;
// }
// .ss-btn-outline-success:hover {
//     background-color: $cor-success;
//     color: $cor-label;
// }
// .ss-btn-outline-warning:hover {
//     background-color: $cor-warning;
//     color: $cor-label;
// }
// .ss-btn-outline-danger:hover {
//     background-color: $cor-danger;
//     color: $cor-label;
// }
// .ss-btn:disabled,
// input:disabled {
//     filter: opacity(0.3);
//     cursor: not-allowed;
// }
// .ss-group-inline {
//     .ss-btn {
//         width: 100%;
//         margin-right: 12px;
//         &:last-child {
//             margin-right: initial;
//         }
//     }
// }
// @media screen and (min-width: 992px) {
//     .ss-group-inline {
//         .ss-btn {
//             width: auto;
//             display: inline-flex;
//         }
//     }
// }
// .ss-btnclose {
//     float: right;
//     cursor: pointer;
//     padding-left: 4px;
//     padding-right: 4px;
// }
// /* Inputs
// =================================
// */
// .ss-form-group {
//     margin-bottom: 16px;
//     label {
//         display: block;
//         width: auto;
//     }
//     small {
//         display: block;
//     }
//     &.ss-alert-success {
//         label,
//         small {
//             color: $cor-success;
//         }
//         .ss-form-control {
//             border-color: $cor-success;
//             color: $cor-success;
//         }
//         .st0 {
//             fill: $cor-success;
//         }
//     }
//     &.ss-alert-warning {
//         label,
//         small {
//             color: $cor-warning;
//         }
//         .ss-form-control {
//             border-color: $cor-warning;
//             color: $cor-warning;
//         }
//         .st0 {
//             fill: $cor-warning;
//         }
//     }
//     &.ss-alert-danger {
//         label,
//         small {
//             color: $cor-danger;
//         }
//         .ss-form-control {
//             border-color: $cor-danger;
//             color: $cor-danger;
//         }
//         .st0 {
//             fill: $cor-danger;
//         }
//     }
// }
// .ss-form-control {
//     height: $comp-height;
//     border-radius: $comp-border-radius;
//     padding: $comp-padding;
//     border: $comp-border;
//     border-color: $cor-base-4;
//     background-color: transparent;
//     width: 100%;
//     color: $cor-base-4;
// }
// .ss-form-control:focus {
//     background-color: $cor-background;
// }
// // btn addons
// .ss-addon {
//     display: flex;
//     align-items: center;
//     .ss-form-control {
//         border-radius: 4px 0 0 4px;
//         // margin-left: -1px;
//     }
// }
// .ss-addon-left {
//     height: 36px;
//     background: $cor-base-2;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 4px 0 0 4px;
//     border: 1px solid $cor-base-4;
//     color: $cor-base-3;
//     padding-left: 8px;
//     padding-right: 8px;
//     text-align: center;
//     white-space: nowrap;
// }
// .ss-addon-left+.ss-form-control {
//     border-radius: 0px 4px 4px 0;
//     margin-left: -1px;
// }
// .ss-addon-right {
//     height: 36px;
//     background: $cor-base-2;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 0 4px 4px 0;
//     border: 1px solid $cor-base-4;
//     color: $cor-base-3;
//     padding-left: 8px;
//     padding-right: 8px;
//     text-align: center;
//     white-space: nowrap;
// }
// .ss-form-control+.ss-addon-right {
//     // border-radius: 0px 4px 4px 0;
//     margin-left: -1px;
// }
// /* Search
// ==================================
// */
// .ss-search-container {
//     position: relative;
//     overflow: visible;
// }
// .ss-search {
//     padding-left: 34px;
// }
// .ss-search-icon {
//     position: absolute;
//     padding: 6px;
//     color: $cor-base-3;
// }
// /* Select
// ==================================
// */
// .ss-select {
//     position: relative;
//     select {
//         display: none;
//     }
// }
// .ss-select-selected {
//     border: $comp-border;
//     border-color: $cor-base-4;
//     border-radius: $comp-border-radius;
//     &:after {
//         position: absolute;
//         content: "";
//         top: 14px;
//         right: 10px;
//         width: 0;
//         height: 0;
//         border: 6px solid transparent;
//         border-color: $cor-base-4 transparent transparent transparent;
//     }
//     &.select-arrow-active:after {
//         border-color: transparent transparent $cor-base-4 transparent;
//         top: 7px;
//     }
// }
// .ss-select-items div,
// .ss-select-selected {
//     color: $cor-base-4;
//     padding: $comp-padding;
//     cursor: pointer;
//     user-select: none;
// }
// .ss-select-items {
//     position: absolute;
//     background: $cor-base-1;
//     border: $comp-border;
//     box-shadow: $comp-shadow;
//     border-radius: $comp-border-radius;
//     top: 50px;
//     width: 100%;
//     padding-top: 4px;
//     &:after,
//     &:before {
//         bottom: 100%;
//         left: 10%;
//         border: solid transparent;
//         content: " ";
//         height: 0;
//         width: 0;
//         position: absolute;
//         pointer-events: none;
//     }
//     &:after {
//         border-color: transparent;
//         border-bottom-color: $cor-base-1;
//         border-width: 16px;
//         margin-left: -16px;
//     }
//     &:before {
//         border-color: transparent;
//         border-bottom-color: $cor-base-2;
//         border-width: 18px;
//         margin-left: -18px;
//     }
//     div:hover {
//         background-color: $cor-base-2;
//     }
// }
// .ss-select-hide {
//     display: none;
// }
// /*
// Radio button e Checkbox
// ========================================= */
// .ss-radiobutton,
// .ss-checkbox {
//     display: block;
//     position: relative;
//     padding-left: 28px;
//     margin-bottom: 8px;
//     line-height: 20px;
//     cursor: pointer;
//     @include user-select();
//     input {
//         position: absolute;
//         opacity: 0;
//         cursor: pointer;
//     }
//     .ss-checkmark {
//         position: absolute;
//         top: 0;
//         left: 0;
//         height: 20px;
//         width: 20px;
//         background-color: $cor-background;
//         border: $comp-border;
//         border-color: $cor-base-4;
//     }
//     &:hover input~.ss-checkmark {
//         background-color: $cor-base-2;
//     }
//     input:checked~.ss-checkmark {
//         background-color: $cor-highlight;
//         border-color: $cor-highlight;
//     }
//     .ss-checkmark:after {
//         content: "";
//         position: absolute;
//         display: none;
//     }
//     input:checked~.ss-checkmark:after {
//         display: block;
//     }
// }
// /* Radio button */
// .ss-radiobutton {
//     .ss-checkmark {
//         border-radius: 50%;
//     }
//     .ss-checkmark:after {
//         top: 5px;
//         left: 5px;
//         width: 8px;
//         height: 8px;
//         border-radius: 50%;
//         background: $cor-background;
//     }
// }
// /* Checkbox */
// .ss-checkbox {
//     .ss-checkmark {
//         border-radius: $comp-border-radius;
//     }
//     .ss-checkmark:after {
//         left: 6px;
//         top: 2px;
//         width: 4px;
//         height: 8px;
//         border: solid $cor-background;
//         border-width: 0 3px 3px 0;
//         @include transform(rotate(45deg));
//     }
// }
// /*
// Toggle Switch
// ========================================= */
// .ss-switch {
//     position: relative;
//     display: inline-block;
//     width: $comp-height + 14px;
//     height: $comp-height - 6px;
//     input {
//         display: none;
//     }
//     .ss-point {
//         position: absolute;
//         cursor: pointer;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         background-color: $cor-background;
//         border: $comp-border;
//         border-color: $cor-base-4;
//         border-radius: $comp-height / 2;
//         @include transition(.4s);
//         &:before {
//             position: absolute;
//             content: "";
//             height: $comp-height - 14px;
//             width: $comp-height - 14px;
//             left: 4px;
//             bottom: 3px;
//             background-color: $cor-base-4;
//             @include transition(.4s);
//             border-radius: 50%;
//         }
//     }
//     input:checked+.ss-point {
//         background-color: $cor-highlight;
//         border-color: $cor-highlight;
//     }
//     input:focus+.ss-point {
//         box-shadow: 0 0 1px $cor-highlight;
//     }
//     input:checked+.ss-point:before {
//         background-color: $cor-theme-1;
//         @include transform(translateX($comp-height - 18px));
//     }
// }
// /*
// Slider
// ========================================= */
// .ss-slider {
//     @include appearance();
//     width: 100%;
//     height: $comp-height /6;
//     border-radius: $comp-border-radius;
//     outline: none;
//     opacity: 0.7;
//     -webkit-transition: .2s;
//     transition: opacity .2s;
//     background-color: $cor-base-2;
//     &:hover {
//         opacity: 1;
//     }
//     &::-webkit-slider-thumb {
//         @include appearance();
//         width: $comp-height - 14px;
//         height: $comp-height - 14px;
//         border: none;
//         border-radius: 50%;
//         background: $cor-highlight;
//         cursor: pointer;
//     }
//     &::-moz-range-thumb {
//         width: $comp-height - 14px;
//         height: $comp-height - 14px;
//         border: none;
//         border-radius: 50%;
//         background: $cor-highlight;
//         cursor: pointer;
//     }
// }
// .ss-slider-value {
//     width: 90%;
// }
// .ss-slider-value+.ss-info-label {
//     display: inline-block;
//     margin: 0;
// }
// /*
// Progress bar
// ========================================= */
// .ss-progress-bar {
//     width: 100%;
//     background-color: $cor-base-2;
//     border-radius: $comp-height / 2;
//     margin-top: $comp-height / 3;
//     margin-bottom: $comp-height / 3;
//     overflow: hidden;
//     .ss-progress {
//         width: 1%;
//         height: $comp-height / 4;
//         background-color: $cor-highlight;
//         border-radius: $comp-height / 2;
//     }
// }
// /*
// Badges e Labels
// ========================================= */
// .ss-badge-container {
//     position: relative;
//     overflow: visible;
// }
// .ss-badge,
// .ss-label {
//     display: inline-block;
//     padding: 0 10px;
//     height: $comp-height - 10px;
//     font-size: 80%;
//     text-align: center;
//     white-space: nowrap;
//     vertical-align: middle;
//     border-radius: 20px;
//     color: $cor-label;
//     line-height: 24px;
// }
// .ss-badge {
//     height: 16px;
//     min-width: 16px;
//     line-height: 15px;
//     padding: 0 5px;
//     // padding-left: 4px;
//     margin-left: -4px;
//     margin-top: -8px;
//     position: absolute;
//     text-align: center;
// }
// .ss-btn {
//     .ss-badge {
//         margin-right: -7px;
//         top: 0;
//         right: 0;
//     }
// }
// .ss-badge-default {
//     background-color: $cor-base-3;
//     color: $cor-base-1;
// }
// .ss-badge-primary {
//     background-color: $cor-theme-1;
// }
// .ss-badge-success {
//     background-color: $cor-success;
// }
// .ss-badge-warning {
//     background-color: $cor-warning;
// }
// .ss-badge-danger {
//     background-color: $cor-danger;
// }
// /* Labels */
// .ss-label {
//     border: $comp-border;
//     font-weight: bold;
// }
// .ss-label-default {
//     color: $cor-base-3;
//     border-color: $cor-base-3;
// }
// .ss-label-primary {
//     color: $cor-theme-1;
//     border-color: $cor-theme-1;
// }
// .ss-label-success {
//     color: $cor-success;
//     border-color: $cor-success;
// }
// .ss-label-warning {
//     color: $cor-warning;
//     border-color: $cor-warning;
// }
// .ss-label-danger {
//     color: $cor-danger;
//     border-color: $cor-danger;
// }
// /*
// Alerts
// ========================================== */
// .alert {
//     position: relative;
//     padding: $comp-padding;
//     margin-bottom: 1rem;
//     border: 1px solid transparent;
//     border-radius: $comp-border-radius;
//     clear: both;
// }
// .alert-default {
//     color: $cor-base-1;
//     background-color: $cor-base-4;
//     border-color: $cor-base-4;
// }
// .alert-success {
//     color: $cor-base-1;
//     background-color: $cor-success;
//     border-color: $cor-success;
// }
// .alert-warning {
//     color: $cor-base-1;
//     background-color: $cor-warning;
//     border-color: $cor-warning;
// }
// .alert-danger {
//     color: $cor-base-1;
//     background-color: $cor-danger;
//     border-color: $cor-danger;
// }
// /*
// Tooltips
// ========================================== */
// .ss-tooltip {
//     position: relative;
//     display: inline-block;
//     .ss-tooltiptext {
//         visibility: hidden;
//         position: absolute;
//         min-width: 100px;
//         text-align: center;
//         color: $cor-base-1;
//         background-color: $cor-base-4;
//         padding: $comp-padding;
//         border-radius: $comp-border-radius;
//         z-index: 1;
//         opacity: 0;
//         transition: opacity 0.3s;
//     }
//     &:hover .ss-tooltiptext {
//         visibility: visible;
//         opacity: 1;
//     }
// }
// .ss-tooltip-bottom {
//     top: 135%;
//     left: 0;
//     &:after {
//         @include tooltip-after();
//         bottom: 100%;
//         left: 50%;
//         margin-left: -5px;
//         border-color: transparent transparent $cor-base-4 transparent;
//     }
// }
// .ss-tooltip-top {
//     bottom: 125%;
//     left: 0;
//     &:after {
//         @include tooltip-after();
//         top: 115%;
//         left: 50%;
//         margin-left: -5px;
//         border-color: $cor-base-4 transparent transparent transparent;
//     }
// }
// .ss-tooltip-right {
//     top: -5px;
//     left: 125%;
//     &:after {
//         @include tooltip-after();
//         top: 50%;
//         right: 100%;
//         border-color: transparent $cor-base-4 transparent transparent;
//     }
// }
// .ss-tooltip-left {
//     top: -5px;
//     bottom: auto;
//     right: 128%;
//     &:after {
//         @include tooltip-after();
//         top: 50%;
//         left: 100%;
//         border-color: transparent transparent transparent $cor-base-4;
//     }
// }
// .ss-more {
//     position: relative;
//     display: inline-block;
//     color: $cor-base-4;
//     padding: 4px;
//     margin: 0;
//     float: right;
//     cursor: pointer;
//     .ss-moretext {
//         visibility: hidden;
//         position: absolute;
//         min-width: 100px;
//         text-align: center;
//         color: $cor-base-4;
//         background-color: $cor-base-1;
//         padding: 4px;
//         border: $comp-border;
//         border-radius: $comp-border-radius;
//         box-shadow: $comp-shadow-m;
//         z-index: 1;
//         opacity: 0;
//         transition: opacity 0.3s;
//         display: flex;
//         align-items: center;
//         .ss-more-item {
//             padding: 8px;
//             color: $cor-base-4;
//             border-radius: $comp-border-radius;
//             &:hover {
//                 background-color: $cor-base-2;
//             }
//         }
//     }
//     &:hover .ss-moretext {
//         visibility: visible;
//         opacity: 1;
//     }
// }
// .ss-more-right {
//     top: -10px;
//     left: 86%;
//     &:after {
//         @include more-after();
//         top: 50%;
//         right: 100%;
//         border-color: transparent $cor-base-1 transparent transparent;
//     }
// }
// .ss-more-left {
//     top: -10px;
//     bottom: auto;
//     right: 86%;
//     &:after {
//         @include more-after();
//         top: 50%;
//         left: 100%;
//         border-color: transparent transparent transparent $cor-base-1;
//     }
// }
// /*
// Pagination
// ========================================== */
// .ss-pagination {
//     margin-top: 1vh;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     .ss-pagination-item {
//         color: $cor-base-4;
//         height: $comp-height - 12px;
//         margin: 4px 2px;
//         border-radius: $comp-height / 2;
//         text-decoration: none;
//         transition: .3s;
//         min-width: 24px;
//         text-align: center;
//         // padding: 2px 8px;
//         padding: 0 8px;
//         line-height: 23px;
//         &.active {
//             background-color: $cor-highlight;
//             color: $cor-base-1;
//         }
//         &:hover:not(.active) {
//             background-color: $cor-base-2;
//             color: $cor-base-4;
//         }
//     }
// }
// /*
// Tabs
// ========================================== */
// .ss-tab {
//     overflow: auto;
//     display: flex;
//     border: $comp-border;
//     border-radius: 4px 4px 0 0;
//     background-color: $cor-base-1;
//     box-shadow: $comp-shadow;
//     .ss-tab-links {
//         background-color: transparent;
//         border: none;
//         outline: none;
//         cursor: pointer;
//         height: 52px;
//         padding: 4px 14px;
//         transition: 0.3s;
//         padding: $comp-padding;
//         transition: 0.3s;
//         color: $cor-base-3;
//         word-wrap: initial;
//         overflow: hidden;
//         flex-shrink: 0;
//         &:hover {
//             background-color: $cor-background;
//         }
//         &.active {
//             border-bottom: 2px solid $cor-highlight;
//             color: $cor-base-4;
//         }
//     }
// }
// .ss-tab-content {
//     display: none;
//     width: 100%;
// }
// .ss-card>.ss-tab {
//     border: none;
//     border-bottom: $comp-border;
//     border-radius: initial;
//     background-color: transparent;
//     box-shadow: none;
// }
// @media screen and (min-width: 768px) {
//     .ss-tab {
//         .ss-tab-links {
//             width: auto;
//         }
//     }
// }
// /*
// Navbar
// ========================================== */
// .ss-navbar {
//     display: flex;
//     width: 100%;
//     position: fixed;
//     z-index: 2;
//     top: 0;
//     transition: top 0.3s;
//     justify-content: space-between;
//     padding-right: 16px;
//     padding-left: 16px;
//     .ss-navbar-menu {
//         display: flex;
//         justify-content: end;
//         align-items: center;
//         .ss-navbar-btnclose {
//             position: absolute;
//             top: 16px;
//             left: 16px;
//             font-size: 24px;
//             text-decoration: none;
//         }
//     }
//     .ss-navbar-item {
//         display: flex;
//         min-height: 56px;
//         align-items: center;
//         text-decoration: none;
//         padding-left: 16px;
//         padding-right: 16px;
//         border-bottom: 2px solid transparent;
//         transition: 0.2s;
//     }
//     .ss-navbar-info {
//         display: flex;
//         justify-content: flex-start;
//         align-items: center;
//         .ss-navbar-logo {
//             display: none;
//         }
//         .ss-navbar-title {
//             text-transform: uppercase;
//             letter-spacing: 1px;
//             word-break: break-all;
//             overflow: hidden;
//             padding-left: 0;
//         }
//     }
//     .ss-navbar-user {
//         position: relative;
//     }
//     .ss-navbar-user-content {
//         display: none;
//         box-shadow: $comp-shadow-m;
//         position: absolute;
//         right: -20px;
//         min-width: 200px;
//         .ss-navbar-item {
//             padding-top: 8px;
//             padding-bottom: 8px;
//             min-height: auto;
//             display: block;
//             width: auto;
//             .ss-user-tag {
//                 margin-bottom: 0;
//                 text-transform: uppercase;
//             }
//             .ss-user-info {
//                 margin: 0;
//                 white-space: nowrap;
//                 font-weight: bolder;
//             }
//         }
//     }
//     .ss-navbar-user:hover .ss-navbar-user-content {
//         display: block;
//     }
//     .ss-navbar-user-btn {
//         padding: 6px;
//         // padding-right: 20px;
//         .ss-user-img {
//             display: block;
//             border-radius: 50%;
//             width: 40px;
//             height: 40px;
//             margin: 0 auto;
//         }
//     }
//     .ss-btnmenu .ss-badge {
//         margin-left: 14px;
//     }
//     .ss-btnmenu-bar1,
//     .ss-btnmenu-bar2,
//     .ss-btnmenu-bar3 {
//         width: 20px;
//         height: 2px;
//         background-color: $cor-base-1;
//         margin: 5px 0;
//         transition: 0.4s;
//     }
//     .ss-btnmenu-change .ss-btnmenu-bar1 {
//         -webkit-transform: rotate(-45deg) translate(-6px, 6px);
//         transform: rotate(-45deg) translate(-6px, 6px);
//     }
//     .ss-btnmenu-change .ss-btnmenu-bar2 {
//         opacity: 0;
//     }
//     .ss-btnmenu-change .ss-btnmenu-bar3 {
//         -webkit-transform: rotate(45deg) translate(-4px, -4px);
//         transform: rotate(45deg) translate(-4px, -4px);
//     }
//     // .ss-divider {
//     //     border-right: 1px solid transparent;
//     // }
// }
// .ss-navbar-overlay {
//     height: 0%;
//     width: 100%;
//     position: fixed;
//     z-index: 1;
//     top: 56px;
//     left: 0;
//     overflow-y: auto;
//     transition: 0.5s;
//     text-align: left;
//     .ss-navbar-overlay-content {
//         padding: 20px;
//         padding-bottom: 108px;
//         .ss-search-container {
//             text-align: center;
//         }
//         a {
//             padding: 8px 0;
//             text-decoration: none;
//             color: $cor-navbar-2;
//             display: block;
//             transition: 0.3s;
//         }
//         .closebtn {
//             font-size: 36px;
//             text-align: right;
//         }
//         .ss-navbar-overlay-3level {
//             padding-left: 8px;
//         }
//         /* iconbar */
//         .ss-iconbar {
//             display: flex;
//             justify-content: flex-start;
//             // flex-flow: wrap;
//             width: 89vw;
//             overflow: auto;
//         }
//         .ss-iconbar-item {
//             padding: 14px;
//             border-radius: 50%;
//             background-color: $cor-highlight;
//             margin: 12px;
//             margin-bottom: 24px;
//             &:first-child {
//                 margin-left: 0;
//             }
//         }
//     }
//     &.ss-navbar-overlay-change {
//         height: 100%;
//     }
// }
// .ss-navbar-default {
//     background: $cor-navbar-1;
//     background: linear-gradient(90deg, rgba(0, 54, 65, 1) 50%, rgba(0, 160, 145, 1) 100%);
//     .ss-navbar-item {
//         background-color: transparent;
//         color: $cor-navbar-2;
//         &:hover {
//             background-color: $cor-selection;
//             border-bottom-color: $cor-highlight;
//             color: $cor-navbar-1;
//         }
//     }
//     .ss-navbar-logo:hover,
//     .ss-navbar-title:hover {
//         background-color: initial;
//         color: $cor-navbar-2;
//         border-bottom-color: transparent;
//     }
//     .ss-navbar-info {
//         box-shadow: $comp-shadow;
//     }
//     .ss-navbar-dropdown-content,
//     .ss-navbar-user-content {
//         .ss-navbar-item {
//             background-color: $cor-navbar-2;
//             border-bottom: $comp-border;
//             color: $cor-navbar-1;
//             &.ss-navbar-sair {
//                 background-color: $cor-danger;
//                 border-bottom-color: $cor-danger;
//                 color: $cor-navbar-2;
//             }
//             &:hover {
//                 background-color: $cor-selection;
//                 border-bottom-color: $cor-highlight;
//             }
//         }
//     }
//     .ss-navbar-overlay {
//         background-color: $cor-navbar-1;
//         color: rgba(256, 256, 256, 0.5);
//         .ss-search {
//             border-color: $cor-navbar-2;
//         }
//         a {
//             color: $cor-navbar-2;
//         }
//         .ss-navbar-overlay-3level {
//             a {
//                 color: $cor-highlight;
//             }
//         }
//     }
// }
// .ss-navbar-light {
//     background-color: $cor-navbar-2;
//     border: $comp-border;
//     .ss-navbar-item {
//         background-color: $cor-navbar-2;
//         color: $cor-navbar-1;
//         &:hover {
//             background-color: $cor-selection;
//             border-bottom-color: $cor-highlight;
//         }
//     }
//     .ss-navbar-logo:hover,
//     .ss-navbar-title:hover {
//         background-color: initial;
//         color: $cor-navbar-1;
//         border-bottom-color: transparent;
//     }
// }
// @media screen and (min-width: 768px) {
//     .ss-navbar {
//         .ss-navbar-info {
//             .ss-navbar-logo {
//                 display: flex;
//                 // margin-top: -5px;
//                 padding-left: 0;
//                 img {
//                     width: 85px;
//                 }
//             }
//         }
//     }
//     .ss-navbar-overlay {
//         .ss-navbar-overlay-content {
//             .ss-iconbar {
//                 justify-content: center;
//                 width: auto;
//                 // flex-flow: wrap;
//             }
//         }
//     }
// }
// /*  navbar mobile */
// .ss-navbar-mobile {
//     background-color: $cor-navbar-1;
//     width: 100%;
//     position: fixed;
//     z-index: 1;
//     display: flex;
//     flex-direction: row;
//     padding: 16px;
//     justify-content: space-around;
//     min-height: 60px;
//     align-items: center;
//     color: $cor-navbar-2;
//     .ss-navbar-mobile-menu,
//     .ss-navbar-mobile-info,
//     .ss-navbar-mobile-tools {
//         width: 100%;
//     }
//     .ss-navbar-mobile-item {
//         color: $cor-navbar-2;
//         text-decoration: none;
//         margin-right: 12px;
//         display: inline-block;
//     }
//     .ss-navbar-mobile-info {
//         text-align: center;
//         .ss-navbar-mobile-title {
//             margin: 0;
//             font-weight: bolder;
//         }
//     }
//     .ss-navbar-mobile-tools {
//         text-align: right;
//         .ss-navbar-mobile-item {
//             // float: right;
//             &:nth-last-of-type(1) {
//                 margin-right: initial;
//             }
//         }
//     }
// }
// /*
// Content bar
// ========================================== */
// .ss-contentbar {
//     background-color: $cor-base-1;
//     box-shadow: $comp-shadow;
//     border-bottom: $comp-border;
//     padding: 12px 16px;
//     position: absolute;
//     width: 100%;
//     top: 60px;
//     display: flex;
//     align-items: center;
//     flex-direction: row;
//     flex-wrap: wrap;
//     .ss-contentbar-item {
//         display: inline-block;
//         margin: 0;
//         font-weight: normal;
//     }
//     &.ss-divider {
//         height: 30px;
//         width: 1px;
//         background-color: $cor-base-2;
//         display: inline-block;
//         margin-left: 12px;
//         margin-right: 12px;
//     }
// }
// /*
// Toolbar
// ========================================== */
// .ss-toolbar {
//     display: grid;
//     grid-auto-flow: column;
//     grid-template-columns: 80px;
//     text-align: center;
//     background-color: $cor-base-1;
//     .ss-toolbar-item {
//         width: auto;
//         min-width: 80px;
//         min-height: 80px;
//         padding: 8px;
//         border-bottom: $comp-border;
//         border-right: $comp-border;
//         color: $cor-base-4;
//         text-decoration: none;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         &:hover {
//             background-color: $cor-selection;
//             color: $cor-theme-1;
//         }
//         span {
//             margin-top: 4px;
//             line-height: 0.9rem;
//             display: block;
//             word-wrap: break-word;
//         }
//         &.active {
//             color: $cor-highlight;
//             position: relative;
//             &:after {
//                 content: "";
//                 display: block;
//                 width: 60%;
//                 height: 2px;
//                 background-color: $cor-highlight;
//                 position: absolute;
//                 bottom: 0;
//             }
//         }
//     }
// }
// @media screen and (min-width:768px) {
//     .ss-toolbar {
//         grid-auto-flow: row;
//         .ss-toolbar-item {
//             border-right: unset;
//             width: 80px;
//         }
//     }
// }
// /*
// Cards
// ========================================== */
// .ss-card {
//     background-color: $cor-base-1;
//     // padding: 14px;
//     display: block;
//     border: $comp-border;
//     border-radius: $comp-border-radius;
//     box-shadow: $comp-shadow;
//     overflow: hidden;
//     .ss-card-img {
//         width: 100%;
//         // border-radius: 4px;
//     }
//     .ss-card-header,
//     .ss-card-body,
//     .ss-card-footer {
//         padding: 14px;
//     }
//     .ss-card-header {
//         padding-bottom: 0;
//         &.ss-divider {
//             padding-bottom: 14px;
//             border-bottom: $comp-border;
//         }
//     }
//     .ss-card-footer {
//         padding-top: 0;
//         &.ss-divider {
//             padding-top: 14px;
//             border-top: $comp-border;
//         }
//     }
//     .ss-btn {
//         margin-bottom: 0;
//     }
// }
// /*
// login
// ========================================== */
// .ss-login {
//     background-color: $cor-base-1;
//     border: $comp-border;
//     border-radius: $comp-border-radius;
//     box-shadow: $comp-shadow-m;
//     padding: 24px;
//     margin: 22px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     .material-icons {
//         margin-bottom: 2px;
//     }
// }
// .ss-login-logo {
//     width: 40%;
//     margin-bottom: 16px;
//     max-width: 150px;
// }
// .ss-btn-login {
//     margin-top: 8px;
// }
// /*
// Modal
// ========================================== */
// .ss-modal {
//     display: none;
//     position: fixed;
//     z-index: 3;
//     padding-top: 10vh;
//     left: 0;
//     top: 0;
//     width: 100vw;
//     height: 100vh;
//     overflow: auto;
//     background-color: $cor-shadow-2;
// }
// /* Modal Content */
// .ss-modal-content {
//     background-color: $cor-base-1;
//     margin: auto;
//     border: $comp-border;
//     border-radius: $comp-border-radius;
//     box-shadow: $comp-shadow-g;
//     width: 80%;
// }
// .ss-modal-header,
// .ss-modal-body,
// .ss-modal-footer {
//     padding: 14px;
// }
// .ss-modal-header {
//     border-bottom: $comp-border;
//     p,
//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6,
//     a {
//         margin: 0;
//     }
// }
// .ss-modal-footer {
//     border-top: $comp-border;
//     p,
//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6,
//     a {
//         margin: 0;
//     }
// }
// /* The Close Button */
// .ss-modal-btnclose {
//     float: right;
//     font-size: 24px;
//     font-weight: bold;
//     color: $cor-base-4;
//     &:hover,
//     &:focus {
//         color: $cor-highlight;
//         text-decoration: none;
//         cursor: pointer;
//     }
// }
// /* breadcrumb */
// .ss-breadcrumb {
//     list-style: none;
//     padding-left: initial;
//     margin: 0;
//     white-space: nowrap;
//     overflow: auto;
//     display: flex;
//     flex-direction: row;
//     line-height: 20px;
//     .ss-breadcrumb-item {
//         color: $cor-base-4;
//         margin: 0;
//         text-decoration: none;
//         +.ss-breadcrumb-item:before {
//             padding: 0 8px;
//             font-size: 16px;
//             font-weight: normal;
//             content: "›";
//         }
//         &:hover {
//             color: $cor-success;
//         }
//     }
//     .ss-breadcrumb-link {
//         color: $cor-base-4;
//         font-weight: bolder;
//         cursor: pointer;
//     }
// }
// /* wizard */
// .ss-wizard {
//     padding: $comp-padding;
//     list-style: none;
//     padding-left: initial;
//     margin: 0;
//     white-space: nowrap;
//     overflow: auto;
//     display: flex;
//     flex-direction: row;
//     align-items: baseline;
//     flex-flow: wrap;
//     .ss-wizard-item {
//         color: $cor-base-3;
//         margin: 0;
//         line-height: 18px;
//         cursor: not-allowed;
//         margin-bottom: 8px;
//         +.ss-wizard-item:before {
//             padding: 0 16px;
//             font-size: 20px;
//             color: $cor-base-3;
//             content: "»";
//         }
//     }
//     .ss-wizard-num {
//         background-color: $cor-base-2;
//         display: inline-block;
//         color: $cor-base-3;
//         border-radius: 50%;
//         width: 20px;
//         height: 20px;
//         text-align: center;
//         margin-right: 8px;
//     }
//     .ss-wizard-link {
//         color: $cor-highlight;
//         text-decoration: none;
//         cursor: pointer;
//         &:hover {
//             color: $cor-highlight;
//         }
//         +.ss-wizard-item:before {
//             color: $cor-highlight;
//         }
//         .ss-wizard-num {
//             background-color: $cor-highlight;
//             color: $cor-base-1;
//         }
//     }
// }
// /* Toast */
// .ss-toast {
//     visibility: hidden;
//     min-width: 250px;
//     margin-left: -125px;
//     background-color: $cor-base-4;
//     color: $cor-base-1;
//     text-align: center;
//     border-radius: $comp-border-radius;
//     padding: $comp-padding;
//     position: fixed;
//     z-index: 1;
//     left: 50%;
//     bottom: 30px;
//     &.show {
//         visibility: visible;
//         -webkit-animation: fade-in-bottom 0.5s, fade-out-bottom 0.5s 2.5s;
//         animation: fade-in-bottom 0.5s, fade-out-bottom 0.5s 2.5s;
//     }
// }
 
/* Icons 
========================================== */

.material-icons {
    vertical-align: middle;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.ss-icon-right {
    margin-left: 8px;
}

.ss-icon-left {
    margin-right: 8px;
}


/*
Clearfix
========================================== */

.clearfix {
    clear: both;
}


/*
Animations 
========================================== */

.fade-in-bottom {
    -webkit-animation: fade-in-bottom 0.5s, fade-out-bottom 0.5s 2.5s;
    animation: fade-in-bottom 0.5s, fade-out-bottom 0.5s 2.5s;
}


/**
* ----------------------------------------
* animation fade-in-bottom
* ----------------------------------------
*/

@-webkit-keyframes fade-in-bottom {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fade-out-bottom {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fade-out-bottom {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}