// _variaveis.scss
// ###################
// Default Theme
// ###################
// cores navbar ==========================
$cor-navbar-1: #003641 !default;
$cor-navbar-2: #FEFEFE !default;
// cores background ==========================
$cor-background: #F5F7F8 !default;
// cores bases ==========================
$cor-base-1: #FEFEFE !default;
$cor-base-2: #DADFE6 !default; //#EAEAEA !default;
$cor-base-3: #7C8E9E !default;
$cor-base-4: #34495E !default;
// cores tema ==========================
$cor-highlight: rgb(0, 141, 160) !default;
$cor-selection: rgb(164, 211, 230) !default;
$cor-theme-1: #003641 !default;
// $cor-theme-2: rgba(0, 160, 145, 0.2) !default;
// cores labels ==========================
$cor-label: #FEFEFE !default;
// // ###################
// // dark theme
// // ###################
// // cores navbar ==========================
// $cor-navbar-1: #003641;
// $cor-navbar-2: #FEFEFE;
// // cores background ==========================
// $cor-background: #0D090F;
// // cores neutras ==========================
// $cor-base-1: #1E1E25;
// $cor-base-2: #383B4A;
// $cor-base-3: #7C8E9E; //rgba(52, 73, 94, 0.6);
// $cor-base-4: #f5f7f8;
// // cores tema ==========================
// $cor-highlight: #7DB61C; //#00A091 !default;
// $cor-selection: #CEE2A2; //#94E1D6 !default;
// $cor-theme-1: #003641;
// // cores labels ==========================
// $cor-label: #FEFEFE;
// // ###################
// // green theme
// // ###################
// // cores navbar ==========================
// $cor-navbar-1: #003641;
// $cor-navbar-2: #FEFEFE;
// // cores background ==========================
// $cor-background: #171C1B;
// // cores neutras ==========================
// $cor-base-1: #1F3632;
// $cor-base-2: #304D48;
// $cor-base-3: #799691; //rgba(52, 73, 94, 0.6);
// $cor-base-4: #f5f7f8;
// // cores tema ==========================
// $cor-highlight: #7DB61C; //#00A091 !default;
// $cor-selection: #CEE2A2; //#94E1D6 !default;
// $cor-theme-1: #003641;
// // cores labels ==========================
// $cor-label: #FEFEFE;
// ###################
// ###################
// ###################
// cores de apoio ==========================
$cor-success: rgb(27, 140, 192);//#00C9B8 !default;
$cor-success-2: $cor-selection;
$cor-warning: #f39c12 !default;
$cor-warning-2: #FFD762;
$cor-danger: #E74C3C !default;
$cor-danger-2: #EF8C82;
// cores sombras ==========================
// $cor-shadow-1: rgba(150, 97, 97, 0.16);
$cor-shadow-1: rgba(0, 0, 0, 0.16);
$cor-shadow-2: rgba(0, 0, 0, 0.36);
// ###################
//componentes ========================
// ###################
$comp-height: 36px;
$comp-border: 1px solid $cor-base-2;
$comp-padding: 4px 16px;
$comp-border-radius: 4px;
$comp-shadow: 0 0 1px $cor-shadow-1;
$comp-shadow-m: 0 9px 13px $cor-shadow-2;
$comp-shadow-g: 0 9px 38px $cor-shadow-2;