//imports
@import '../../styles/scss/variaveis';
@import '../../styles/scss/mixins';


.ss-form-group {
    margin-bottom: 16px;
    position: relative;
    label {
        display: block;
        width: auto;
    }
    small {
        display: block;
    }
    &.ss-alert-success {
        label,
        small {
            color: $cor-success;
        }
        .ss-form-control, .ss-validation-field {
            border-color: $cor-success;
            color: $cor-success;
        }
        .st0 {
            fill: $cor-success;
        }
        .ss-input-icon-left,
        .ss-input-icon-right {
            color: $cor-success;
        }
    }
    &.ss-alert-warning {
        label,
        small {
            color: $cor-warning;
        }
        .ss-form-control, .ss-validation-field {
            border-color: $cor-warning;
            color: $cor-warning;
        }
        .st0 {
            fill: $cor-warning;
        }
        .ss-input-icon-left,
        .ss-input-icon-right {
            color: $cor-warning;
        }
    }
    &.ss-alert-danger {
        label,
        small, .ss-small-error {
            color: $cor-danger;
        }
        .ss-form-control, .ss-validation-field {
            border-color: $cor-danger;
            color: $cor-danger;
        }
        .st0 {
            fill: $cor-danger;
        }
        .ss-input-icon-left,
        .ss-input-icon-right {
            color: $cor-danger;
        }
    }
}