//imports
@import '../styles/scss/variaveis';
@import '../styles/scss/mixins';
@import '../grid/grid.component';

/*
Modal
========================================== */

.ss-modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: $cor-shadow-2;
}


/* Modal Content */

.ss-modal-content {
    background-color: $cor-base-1;
    margin: auto;
    border: $comp-border;
    border-radius: $comp-border-radius;
    box-shadow: $comp-shadow-g;
    width: 80%;
}

.ss-modal-header,
.ss-modal-body,
.ss-modal-footer {
    padding: 14px;
}

.ss-modal-header {
    border-bottom: $comp-border;
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
        margin: 0;
    }
}

.ss-modal-footer {
    border-top: $comp-border;
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
        margin: 0;
    }
}


/* The Close Button */

.ss-modal-btnclose {
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: $cor-base-4;
    &:hover,
    &:focus {
        color: $cor-highlight;
        text-decoration: none;
        cursor: pointer;
    }
}