<div id="lancamento-agendado-modal" class="ss-modal" style="display:block;" *ngIf="atividade">     
    <div class="ss-modal-content"  [ngClass]="{'lancamento-normal': !(atividade.codCartaoCredito > 0), 'lancamento-parcelado': atividade.codCartaoCredito > 0}">

        <div class="ss-modal-header" >
            <span class="ss-modal-btnclose" (click)="fechar()">&times;</span>
            <h5>Lancamento</h5>
        </div>
 
        <div class="ss-modal-body row"> 
            <div class="row" [ngClass]="{'col-sm-12': !(atividade.codCartaoCredito > 0), 'col-sm-7': atividade.codCartaoCredito > 0}">
                
                <div class="col-sm-6"> 
                    <label>Grupo </label>
                    <div class="campo-tags">{{atividade.nomeGrupo}}</div>
                </div>
                <div class="col-sm-6">  
                    <label>Categoria </label>
                    <div class="campo-tags">{{atividade.nomeCategoria}}</div>
                </div>
                <div class="col-sm-12"> &nbsp;</div>  

                <div class="col-sm-6">  
                    <label>Data Prevista </label>
                    <div class="campo-tags">{{atividade.dataPrevista}}</div>
                </div>
                <div class="col-sm-6">  
                    <label>Valor Previsto </label>
                    <div class="campo-tags">{{ atividade.valorPrevisto | currency:'R$':'symbol':'1.2-2':'pt'}}</div>
                </div>
                <div class="col-sm-12" > &nbsp;</div> 

                <div [ngClass]="{'col-sm-12': codTipoPagamento == TipoPagamentoEnum.A_VISTA
                               , 'col-sm-6': codTipoPagamento == TipoPagamentoEnum.PARCELADO
                               , 'col-sm-4': codTipoPagamento == TipoPagamentoEnum.PARCELADO_CARTAO}" > 
                    <div class="ss-form-group" >
                        <label>Forma de Pagamento <span class="campo-obrigatorio-label" >*</span></label>
                        <ng-select [items]="listTiposPagamentos" bindLabel="nome" bindValue="codigo" placeholder="Selecione" [(ngModel)]="codTipoPagamento" [disabled]="atividade.codCartaoCredito > 0"  (change)="setListCartoes()"></ng-select> 
                    </div>   
                </div>

                <div [ngClass]="{'col-sm-6': codTipoPagamento == TipoPagamentoEnum.PARCELADO 
                               , 'col-sm-3': codTipoPagamento == TipoPagamentoEnum.PARCELADO_CARTAO}" *ngIf="codTipoPagamento > TipoPagamentoEnum.A_VISTA "> 
                    <div class="ss-form-group" >
                        <label>Em quantas vezes?<span class="campo-obrigatorio-label" >*</span></label>
                        <input type="number" [(ngModel)]="numParcelas" class="ss-form-control" > 
                    </div>  
                </div>

                <div class="col-sm-5" *ngIf="codTipoPagamento == TipoPagamentoEnum.PARCELADO_CARTAO">  
                    <div class="ss-form-group" >
                        <label>Cartão <span class="campo-obrigatorio-label" >*</span></label>
                        <ng-select [items]="listCartoes" bindLabel="nome" placeholder="Selecione" [(ngModel)]="cartaoCredito" ></ng-select> 
                    </div>   
                </div>
                <div class="col-sm-12"> &nbsp;</div> 



                <div class="col-sm-6"> 
                    <div class="ss-form-group" >
                        <label>Data de Referência <span class="campo-obrigatorio-label" >*</span></label> 
                        <div class="ss-addon" >    
                            <input class="ss-form-control" [(ngModel)]="dataReferencia" type="tel" maxlength="10" bsDatepicker >
                        </div> 
                    </div>  
                </div>
                <div class="col-sm-6">  
                    <div class="ss-form-group" >
                        <label>Valor {{codTipoPagamento > TipoPagamentoEnum.A_VISTA ? 'da Parcela':''}}<span class="campo-obrigatorio-label" >*</span></label>
                        <input class="ss-form-control" [(ngModel)]="valor" type="tel"  maxlength="12" mascara="MONETARIO" >
                    </div>   
                </div> 
                <div class="col-sm-12" > &nbsp;</div> 

                <div class="col-sm-12">  
                    <div class="ss-form-group" >
                        <label>Descrição </label>
                        <div class="ss-addon" >    
                            <textarea class="ss-form-control" [(ngModel)]="descricao" maxlength="3750" style="width: 100% !important;" rows="4" ></textarea>
                        </div> 
                    </div> 
                </div> 
            </div> 

            <div class="col-sm-5" *ngIf="atividade.codCartaoCredito > 0">
                    <label><b>Lançamentos da Fatura</b> </label>
                <div class="ss-table ss-table-striped ss-table-sortable">
                    <table >
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Data</th> 
                                <th>Categoria</th> 
                                <th>Valor</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let parcela of listParcelas" > 
                                <td>{{ parcela.numero }}</td> 
                                <td>{{ parcela.lancamento.dataReferencia }}</td>  
                                <td>{{ parcela.lancamento.categoria.nome }}</td>  
                                <td>{{ parcela.valor | currency:'R$':'symbol':'1.2-2':'pt'}}</td>  
                            </tr>
                        </tbody> 
                    </table>
                </div> 
            </div> 
        </div>

        <div class="ss-modal-footer" >   
            <div style="float: right;">
                <botao label="Salvar" formato="inline" tipo="success" (click)="salvar()" ></botao>
                <botao label="Fechar" formato="inline" tipo="outline-default" (click)="fechar()" ></botao> 
            </div> 
        </div>
    </div> 
</div> 
 