#lancamento-agendado-modal{
    .ss-modal-body{  
        margin-top: 20px; 
        margin-left: 20px; 
        margin-right: 20px; 
    }


    .lancamento-normal{
        width: 800px; 
    }
    .lancamento-parcelado{
        width: 1300px;
    }
}  