<div id="lancamentos-page">
    <div class="relatorio-fiscalizacao-page-content">

      <div class="row"> 
        <div class="col-sm-12">&nbsp;</div>
        <div class="col-sm-12 row-header" >Resultados da busca</div> 
        <div class="col-sm-12">&nbsp;</div>
        <div class="col-sm-12">
          <div class="ss-table ss-table-striped ss-table-sortable">
            <table [mfData]="lista$ | async" #mf="mfDataTable" [mfRowsOnPage]="8">
              <thead>
                <tr>
                  <th>Nº</th>
                  <th>Grupo</th> 
                  <th>Categoria</th> 
                  <th>Etiquetas</th> 
                  <th>Tipo de Pagamento</th> 
                  <th>Valor</th> 
                  <th>Data Referência</th> 
                  <th>Data Lancamento</th> 
                  <th>Última Alteração</th> 
                  <th></th> 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lancamento of mf.data" > 
                    <td>{{ lancamento.codigo }}</td> 
                    <td>{{ lancamento.categoria.grupo.nome }}</td> 
                    <td>{{ lancamento.categoria.nome }}</td> 
                    <td> <tags-list [tags]="lancamento.tags"></tags-list> </td> 
                    <td>{{ lancamento.descTipoPagamento }}</td> 
                    <td> 
                      <span *ngIf="lancamento.codTipoPagamento == TipoPagamentoEnum.A_VISTA">{{ lancamento.valor | currency:'R$':'symbol':'1.2-2':'pt'}}</span> 
                      <span *ngIf="lancamento.codTipoPagamento > TipoPagamentoEnum.A_VISTA">{{ lancamento.valorPrevisto | currency:'R$':'symbol':'1.2-2':'pt'}}</span> 
                    </td> 
                    <td>{{ lancamento.dataReferencia }}</td> 
                    <td>{{ lancamento.dataLancamento }}</td> 
                    <td>{{ lancamento.dataAlteracao }}</td> 
                    <td>
                      <botao icon="edit" label="" tipo="outline-warning" (click)="editar(lancamento)" class="width-50" formato="inline" *ngIf="lancamento.codTipoPagamento == TipoPagamentoEnum.A_VISTA && (lancamento.categoria.codigo != 48 && lancamento.categoria.codigo != 46 && lancamento.categoria.codigo != 63)"></botao>
                      <botao icon="search" label="" tipo="outline-success" (click)="visualizar(lancamento)" class="width-50" formato="inline"></botao>
                      <botao icon="close" label="" tipo="danger" (click)="remover(lancamento)" class="width-50" formato="inline"></botao>
                    </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="10" style="background-color: #F5F7F8 !important;">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div> 
        </div>
        <div class="col-sm-12">&nbsp;</div>
        <div class="col-sm-1"> <botao icon="add_circle_outline" label="Novo" tipo="success" (click)="editar({})" ></botao></div>
      </div> 
    <BR>  
  </div>
</div> 

<ng-template #filtrosSidebar > 
    <div class="row sidebar-content" >
        <div class="col-sm-12 row-sub-header">Filtros de pesquisa</div>
        <div class="col-sm-12 row-header"><HR></div> 

        <div class="ss-form-group col-sm-12 ">
          <label>Nº Lançamento</label> 
          <div class="ss-addon" >    
            <input class="ss-form-control" [(ngModel)]="filtro.codLancamento" maxlength="9" type="tel" mascara="INTEIRO" (keyup)="onKey($event)">
          </div>
        </div>
 
        <div class="ss-form-group col-sm-12 row-col" >
            <label>Grupo </label>
            <ng-select [items]="listGrupos" bindLabel="nome"  placeholder="Selecione" [(ngModel)]="grupo"></ng-select> 
        </div> 

        <div class="ss-form-group col-sm-12 row-col" >
            <label>Categoria </label>
            <ng-select [items]="grupo.listCategorias" bindLabel="nome" bindValue="codigo" placeholder="Selecione" [(ngModel)]="filtro.codCategoria" ></ng-select> 
        </div>  

        <div class="ss-form-group col-sm-12 ">
          <label>Período</label> 
          <div class="ss-addon" >    
              <input class="ss-form-control" [(ngModel)]="periodo" type="tel" maxlength="23" scInput bsDaterangepicker >
          </div>
        </div> 
 
        <div class="col-sm-12">&nbsp;</div>

        <div class="col-sm-12"> 
          <botao icon="search" label="Pesquisar" tipo="success" (click)="pesquisar()"></botao>
        </div>   

        <div class="col-sm-12"> 
          <botao icon="undo" label="Limpar" tipo="outline-default" (click)="limpar()"></botao>
        </div>  
        <div class="col-sm-12">&nbsp;</div> 
    </div> 
</ng-template> 