//imports
@import '../styles/scss/variaveis';
@import '../styles/scss/mixins';
@import '../grid/grid.component';
/* Select
==================================
*/

/* CSS */
.ss-select {
    position: relative;
}

// label.ss-select {

//   position: relative;

//   display: block;

// }

.ss-select select {

  display: inline-block;

  padding: $comp-padding;

  margin: 0;

  font: inherit;

  outline: none;

  /* remove focus ring from Webkit */

  border: $comp-border;

  border-color: $cor-base-4;

  border-radius: $comp-border-radius;

  //background: $cor-base-1;
  background: transparent;

  height: $comp-height;

  -webkit-appearance: none;

  appearance: none;

  width: 100%;

}



/* Select arrow styling */



.ss-select:after {

  content: "▼";

  position: absolute;

  top: 0;

  right: 0;

  bottom: 0;

  font-size: 60%;

  line-height: 30px;

  padding: 3px 6px;
  margin-top: 24px;

  pointer-events: none;

}



// .no-pointer-events .ss-select:after {

//   content: none;

// }

/* SCSS */

// .ss-select {
//     position: relative;
//     // select {
//     //     display: none;
//     // }
// }

// .ss-select-selected {
//     border: $comp-border;
//     border-color: $cor-base-4;
//     border-radius: $comp-border-radius;
//     &:after {
//         position: absolute;
//         content: "";
//         top: 14px;
//         right: 10px;
//         width: 0;
//         height: 0;
//         border: 6px solid transparent;
//         border-color: $cor-base-4 transparent transparent transparent;
//     }
//     &.select-arrow-active:after {
//         border-color: transparent transparent $cor-base-4 transparent;
//         top: 7px;
//     }
// }

// .ss-select-items div,
// .ss-select-selected {
//     color: $cor-base-4;
//     padding: $comp-padding;
//     cursor: pointer;
//     user-select: none;
// }

// .ss-select-items {
//     position: absolute;
//     background: $cor-base-1;
//     border: $comp-border;
//     box-shadow: $comp-shadow;
//     border-radius: $comp-border-radius;
//     top: 50px;
//     width: 100%;
//     padding-top: 4px;
//     &:after,
//     &:before {
//         bottom: 100%;
//         left: 10%;
//         border: solid transparent;
//         content: " ";
//         height: 0;
//         width: 0;
//         position: absolute;
//         pointer-events: none;
//     }
//     &:after {
//         border-color: transparent;
//         border-bottom-color: $cor-base-1;
//         border-width: 16px;
//         margin-left: -16px;
//     }
//     &:before {
//         border-color: transparent;
//         border-bottom-color: $cor-base-2;
//         border-width: 18px;
//         margin-left: -18px;
//     }
//     div:hover {
//         background-color: $cor-base-2;
//     }
// }

// .ss-select-hide {
//     display: none;
// }
