
<div (click)="dismiss()" [class]="'alert alert-' + ((config.color) ? config.color : 'default') + ((config.extraClasses) ? ' ' + config.extraClasses : '') + ((config.position) ? ' ' + config.position : '')"
  role="alert"
  [ngClass]="{'is-active': open}">

  <div class="alert--message">
      <!-- <span class="ss-btnclose" (click)="dismiss()">&times;</span> -->
      <span class="icon" *ngIf="config.icon">
          <i [class]="config.icon"></i>
      </span>
    <p [innerHTML]="config.message"></p>
  </div>
</div>

