//imports
@import '../styles/scss/variaveis';
@import '../styles/scss/mixins';
@import '../grid/grid.component';

/*
Alerts
========================================== */

.alert {
    position: relative; 
    padding: $comp-padding;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: $comp-border-radius;
    clear: both;
}

.alert-default {
    color: $cor-base-1;
    background-color: $cor-base-4;
    border-color: $cor-base-4;
}

.alert-success {
    color: $cor-base-1;
    background-color: $cor-success;
    border-color: $cor-success;
}

.alert-warning {
    color: $cor-base-1;
    background-color: $cor-warning;
    border-color: $cor-warning;
}

.alert-danger {
    color: $cor-base-1;
    background-color: $cor-danger;
    border-color: $cor-danger;
}

.ss-btnclose {
    float: right;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
}

.sc-overlay-container {
  position: fixed;
  width: 400px;
  right: 18px;
  top: 88px;
  display: block;
}

.sc-alert {
  .alert {
    //z-index: 999999;
    //position: fixed;
    //border: 1px solid transparent;
    //border-radius: 3px;
    //padding: 15px 20px;
    transition: all 200ms;
    //opacity: 0;
    margin: 10px auto;
    width: 400px;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.1);
    //box-shadow: $comp-shadow;
    //font-size: 14px;

    // &.is-left {
    //   left: -100px;
    //   margin: 10px;
    //   top: 100px;
    // }

    // &.is-right {
    //   right: -100px;
    //   margin: 10px;
    //   top: 100px;
    // }

    // &.is-top {
    //   top: -100px;
    //   left: 0;
    //   right: 0;
    // }

    // &.is-bottom {
    //   bottom: -100px;
    //   left: 0;
    //   right: 0;
    // }

    // &.is-active {
    //   opacity: 0.9;

    //   &.is-left {
    //     left: 0;
    //   }

    //   &.is-right {
    //     right: 0;
    //   }

    //   &.is-top {
    //     top: 0;
    //   }

    //   &.is-bottom {
    //     bottom: 0;
    //   }
    // }

    // p {
    //   display: inline-block;
    // }

    // span {
    //   vertical-align: middle;
    //   margin: 0 10px 0 0;
    // }
  }

}
