//imports
@import '../styles/scss/variaveis';
@import '../styles/scss/mixins';

/* Grid
=============================================== */

.ss-grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 3vw;
    -ms-grid-columns: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    overflow: unset;
    word-wrap: break-word;
}

.ss-grid-center {
    -ms-justify-items: center;
    justify-items: center;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    -ms-grid-column: span 12;
    grid-column: span 12;
    // overflow: auto;
}

.col-sm-1 {
    -ms-grid-column: span 1;
    grid-column: span 1;
}

.col-sm-2 {
    -ms-grid-column: span 2;
    grid-column: span 2;
}

.col-sm-3 {
    -ms-grid-column: span 3;
    grid-column: span 3;
}

.col-sm-4 {
    -ms-grid-column: span 4;
    grid-column: span 4;
}

.col-sm-5 {
    -ms-grid-column: span 5;
    grid-column: span 5;
}

.col-sm-6 {
    -ms-grid-column: span 6;
    grid-column: span 6;
}

.col-sm-7 {
    -ms-grid-column: span 7;
    grid-column: span 7;
}

.col-sm-8 {
    -ms-grid-column: span 8;
    grid-column: span 8;
}

.col-sm-9 {
    -ms-grid-column: span 9;
    grid-column: span 9;
}

.col-sm-10 {
    -ms-grid-column: span 10;
    grid-column: span 10;
}

.col-sm-11 {
    -ms-grid-column: span 11;
    grid-column: span 11;
}

.col-sm-12 {
    -ms-grid-column: span 12;
    grid-column: span 12;
}

@media screen and (min-width: 768px) {
    .ss-grid {
        grid-gap: 1vw;
    }
    .col-md-1 {
        grid-column: span 1;
        -ms-grid-column: span 1;
    }
    .col-md-2 {
        grid-column: span 2;
        -ms-grid-column: span 2;
    }
    .col-md-3 {
        -ms-grid-column: span 3;
        grid-column: span 3;
    }
    .col-md-4 {
        -ms-grid-column: span 4;
        grid-column: span 4;
    }
    .col-md-5 {
        -ms-grid-column: span 5;
        grid-column: span 5;
    }
    .col-md-6 {
        -ms-grid-column: span 6;
        grid-column: span 6;
    }
    .col-md-7 {
        -ms-grid-column: span 7;
        grid-column: span 7;
    }
    .col-md-8 {
        -ms-grid-column: span 8;
        grid-column: span 8;
    }
    .col-md-9 {
        -ms-grid-column: span 9;
        grid-column: span 9;
    }
    .col-md-10 {
        -ms-grid-column: span 10;
        grid-column: span 10;
    }
    .col-md-11 {
        -ms-grid-column: span 11;
        grid-column: span 11;
    }
    .col-md-12 {
        -ms-grid-column: span 12;
        grid-column: span 12;
    }
}

@media screen and (min-width: 992px) {
    // Colunas
    .col-1 {
        -ms-grid-column: span 1;
        grid-column: span 1;
    }
    .col-2 {
        -ms-grid-column: span 2;
        grid-column: span 2;
    }
    .col-3 {
        -ms-grid-column: span 3;
        grid-column: span 3;
    }
    .col-4 {
        -ms-grid-column: span 4;
        grid-column: span 4;
    }
    .col-5 {
        -ms-grid-column: span 5;
        grid-column: span 5;
    }
    .col-6 {
        -ms-grid-column: span 6;
        grid-column: span 6;
    }
    .col-7 {
        -ms-grid-column: span 7;
        grid-column: span 7;
    }
    .col-8 {
        -ms-grid-column: span 8;
        grid-column: span 8;
    }
    .col-9 {
        -ms-grid-column: span 9;
        grid-column: span 9;
    }
    .col-10 {
        -ms-grid-column: span 10;
        grid-column: span 10;
    }
    .col-11 {
        -ms-grid-column: span 11;
        grid-column: span 11;
    }
    .col-12 {
        -ms-grid-column: span 12;
        grid-column: span 12;
    }
    // Linhas
    .row-1 {
        -ms-grid-row: span 1;
        grid-row: span 1;
    }
    .row-2 {
        -ms-grid-row: span 1;
        grid-row: span 2;
    }
    .row-3 {
        -ms-grid-row: span 1;
        grid-row: span 3;
    }
    .row-4 {
        -ms-grid-row: span 1;
        grid-row: span 4;
    }
    .row-5 {
        -ms-grid-row: span 1;
        grid-row: span 5;
    }
    .row-6 {
        -ms-grid-row: span 1;
        grid-row: span 6;
    }
    .row-7 {
        -ms-grid-row: span 1;
        grid-row: span 7;
    }
    .row-8 {
        -ms-grid-row: span 1;
        grid-row: span 8;
    }
    .row-9 {
        -ms-grid-row: span 1;
        grid-row: span 9;
    }
    .row-10 {
        -ms-grid-row: span 1;
        grid-row: span 10;
    }
}

// ##################################
//offset
.col-offset-start-1,
.col-offset-start-2,
.col-offset-start-3,
.col-offset-start-4,
.col-offset-start-5,
.col-offset-start-6,
.col-offset-start-7,
.col-offset-start-8,
.col-offset-start-9,
.col-offset-start-10,
.col-offset-start-11,
.col-offset-start-12,
.col-md-offset-start-1,
.col-md-offset-start-2,
.col-md-offset-start-3,
.col-md-offset-start-4,
.col-md-offset-start-5,
.col-md-offset-start-6,
.col-md-offset-start-7,
.col-md-offset-start-8,
.col-md-offset-start-9,
.col-md-offset-start-10,
.col-md-offset-start-11,
.col-md-offset-start-12 {
    -ms-grid-column: auto;
    grid-column: auto;
}

.col-offset-end-1,
.col-offset-end-2,
.col-offset-end-3,
.col-offset-end-4,
.col-offset-end-5,
.col-offset-end-6,
.col-offset-end-7,
.col-offset-end-8,
.col-offset-end-9,
.col-offset-end-10,
.col-offset-end-11,
.col-offset-end-12,
.col-md-offset-end-1,
.col-md-offset-end-2,
.col-md-offset-end-3,
.col-md-offset-end-4,
.col-md-offset-end-5,
.col-md-offset-end-6,
.col-md-offset-end-7,
.col-md-offset-end-8,
.col-md-offset-end-9,
.col-md-offset-end-10,
.col-md-offset-end-11,
.col-md-offset-end-12 {
    -ms-grid-column: span 12;
    grid-column: span 12;
    overflow: auto;
}

.col-sm-offset-start-1 {
    grid-column-start: 2;
}

.col-sm-offset-start-2 {
    grid-column-start: 3;
}

.col-sm-offset-start-3 {
    grid-column-start: 4;
}

.col-sm-offset-start-4 {
    grid-column-start: 5;
}

.col-sm-offset-start-5 {
    grid-column-start: 6;
}

.col-sm-offset-start-6 {
    grid-column-start: 7;
}

.col-sm-offset-start-7 {
    grid-column-start: 8;
}

.col-sm-offset-start-8 {
    grid-column-start: 9;
}

.col-sm-offset-start-9 {
    grid-column-start: 10;
}

.col-sm-offset-start-10 {
    grid-column-start: 11;
}

.col-sm-offset-start-11 {
    grid-column-start: 12;
}

.col-sm-offset-end-1 {
    grid-column-end: span 1;
}

.col-sm-offset-end-2 {
    grid-column-end: span 2;
}

.col-sm-offset-end-3 {
    grid-column-end: span 3;
}

.col-sm-offset-end-4 {
    grid-column-end: span 4;
}

.col-sm-offset-end-5 {
    grid-column-end: span 5;
}

.col-sm-offset-end-6 {
    grid-column-end: span 6;
}

.col-sm-offset-end-7 {
    grid-column-end: span 7;
}

.col-sm-offset-end-8 {
    grid-column-end: span 8;
}

.col-sm-offset-end-9 {
    grid-column-end: span 9;
}

.col-sm-offset-end-10 {
    grid-column-end: span 10;
}

.col-sm-offset-end-11 {
    grid-column-end: span 11;
}

@media screen and (min-width: 768px) {
    .col-md-offset-start-1 {
        grid-column-start: 2;
    }
    .col-md-offset-start-2 {
        grid-column-start: 3;
    }
    .col-md-offset-start-3 {
        grid-column-start: 4;
    }
    .col-md-offset-start-4 {
        grid-column-start: 5;
    }
    .col-md-offset-start-5 {
        grid-column-start: 6;
    }
    .col-md-offset-start-6 {
        grid-column-start: 7;
    }
    .col-md-offset-start-7 {
        grid-column-start: 8;
    }
    .col-md-offset-start-8 {
        grid-column-start: 9;
    }
    .col-md-offset-start-9 {
        grid-column-start: 10;
    }
    .col-md-offset-start-10 {
        grid-column-start: 11;
    }
    .col-md-offset-start-11 {
        grid-column-start: 12;
    }
    .col-md-offset-end-1 {
        grid-column-end: span 1;
    }
    .col-md-offset-end-2 {
        grid-column-end: span 2;
    }
    .col-md-offset-end-3 {
        grid-column-end: span 3;
    }
    .col-md-offset-end-4 {
        grid-column-end: span 4;
    }
    .col-md-offset-end-5 {
        grid-column-end: span 5;
    }
    .col-md-offset-end-6 {
        grid-column-end: span 6;
    }
    .col-md-offset-end-7 {
        grid-column-end: span 7;
    }
    .col-md-offset-end-8 {
        grid-column-end: span 8;
    }
    .col-md-offset-end-9 {
        grid-column-end: span 9;
    }
    .col-md-offset-end-10 {
        grid-column-end: span 10;
    }
    .col-md-offset-end-11 {
        grid-column-end: span 11;
    }
}

@media screen and (min-width: 992px) {
    .col-offset-start-1 {
        grid-column-start: 2;
    }
    .col-offset-start-2 {
        grid-column-start: 3;
    }
    .col-offset-start-3 {
        grid-column-start: 4;
    }
    .col-offset-start-4 {
        grid-column-start: 5;
    }
    .col-offset-start-5 {
        grid-column-start: 6;
    }
    .col-offset-start-6 {
        grid-column-start: 7;
    }
    .col-offset-start-7 {
        grid-column-start: 8;
    }
    .col-offset-start-8 {
        grid-column-start: 9;
    }
    .col-offset-start-9 {
        grid-column-start: 10;
    }
    .col-offset-start-10 {
        grid-column-start: 11;
    }
    .col-offset-start-11 {
        grid-column-start: 12;
    }
    .col-offset-end-1 {
        grid-column-end: span 1;
    }
    .col-offset-end-2 {
        grid-column-end: span 2;
    }
    .col-offset-end-3 {
        grid-column-end: span 3;
    }
    .col-offset-end-4 {
        grid-column-end: span 4;
    }
    .col-offset-end-5 {
        grid-column-end: span 5;
    }
    .col-offset-end-6 {
        grid-column-end: span 6;
    }
    .col-offset-end-7 {
        grid-column-end: span 7;
    }
    .col-offset-end-8 {
        grid-column-end: span 8;
    }
    .col-offset-end-9 {
        grid-column-end: span 9;
    }
    .col-offset-end-10 {
        grid-column-end: span 10;
    }
    .col-offset-end-11 {
        grid-column-end: span 11;
    }
}
