@import './styles/scss/variaveis';
@import './grid/grid.component';

//imports

html,
body {
    background-color: $cor-background;
    overflow-x: hidden;
    min-width: 320px;
}

.app-grid {
    display: block;
    grid-template-columns: 80px auto minmax(auto, 350px);
    grid-template-rows: 68px 80px auto;
    width: 100vw;
    transition: 0.5s;
    overflow: auto;
    padding-bottom: 80px;
    margin-left: 0;
}

.app-navbar {
    grid-column: span 3;
    overflow: auto;
}

.app-toolbar {
    grid-row: span 2;
    background-color: $cor-base-1;
    box-shadow: $comp-shadow;
    border-right: $comp-border;
    width: 100%;
    overflow: auto;
    bottom: 0;
    position: fixed;
    z-index: 1;
    border-top: $comp-border;
}

.app-header {
    grid-column: span 2;
    background-color: $cor-base-1;
    box-shadow: $comp-shadow;
    border-bottom: $comp-border;
    padding: 20px;
    margin-top: 56px;
    h6 {
        color: $cor-highlight;
    }
    h6,
    p {
        margin: 0;
    }
}

.app-content {
    grid-column: span 2;
    overflow: auto;
    padding: 20px;
}

.app-sidebar {
    grid-column: span 1;
    background-color: $cor-base-1;
    box-shadow: $comp-shadow;
    border-left: $comp-border;
    // padding: 20px;
    overflow: auto;
    display: none;
}

.app-sidebar-event .app-content {
    grid-column: span 1;
}

.app-sidebar-event .app-sidebar {
    display: block;
}

.app-sidebar-header,
.app-sidebar-body,
.app-sidebar-footer {
    padding: 20px;
}

.app-sidebar-header {
    border-bottom: $comp-border;
    // p,
    // h1,
    // h2,
    // h3,
    // h4,
    // h5,
    // h6,
    // a {
    //     margin: 0;
    // }
}

.app-sidebar-footer {
    border-top: $comp-border;
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
        margin: 0;
    }
}


/* css actionbar */

.app-actionbar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    z-index: 2;
    // top: 144px;
    right: -1px;
    overflow-x: hidden;
    padding: 20px 0;
    background-color: $cor-base-1;
    box-shadow: $comp-shadow;
    border-left: $comp-border;
    transition: 0.5s;
    word-wrap: break-word;
    .app-actionbar-btnclose {
        margin-right: 16px;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: $cor-base-3;
        display: block;
        transition: 0.3s;
        text-align: right;
        margin-bottom: 0;
        &:hover {
            color: $cor-base-4;
        }
    }
    .app-actionbar-content {
        padding: 20px;
        min-width: 250px;
    }
}

.app-actionbar-slide {
    width: 100vw;
}

@media screen and (min-width:768px) {
    .app-grid {
        height: 100vh;
        display: grid;
        padding-bottom: initial;
    }
    .app-toolbar {
        bottom: 0;
        position: fixed;
        z-index: 1;
        border-top: 1px solid $cor-base-3;
    }
    .app-toolbar {
        margin-top: 0;
        width: auto;
        overflow-x: hidden;
        bottom: unset;
        position: relative;
        z-index: 1;
        border-top: unset;
    }
    .app-header {
        margin-top: initial;
    }
    .app-actionbar-slide {
        width: 50vw;
    }
}
