<div id="visualizar-lancamento-modal" class="ss-modal" style="display:block;" *ngIf="lancamento && lancamento.codigo > 0">     
    <div class="ss-modal-content" [ngClass]="{'lancamento-normal': !lancamento || !exibeParcelas, 'lancamento-parcelado': exibeParcelas}" >

        <div class="ss-modal-header" >
            <span class="ss-modal-btnclose" (click)="fechar()">&times;</span>
            <h5>Visualizar Lançamento</h5>
        </div>
 
        <div class="ss-modal-body"> 
            <div class="row" >
                <div [ngClass]="{'col-sm-12': !exibeParcelas, 'col-sm-6': exibeParcelas}"> 
                    <div class="row" >
                        
                        <div class="col-sm-6"> 
                            <label>Grupo </label>
                            <div class="campo-tags">{{lancamento.categoria.grupo.nome}}</div>
                        </div>
                        <div class="col-sm-6">  
                            <label>Categoria </label>
                            <div class="campo-tags">{{lancamento.categoria.nome}}</div>
                        </div>

                        <div class="col-sm-12" *ngIf="lancamento.categoria.codigo == CAT_PARCELA && lancamento.parcela && lancamento.parcela.codigo > 0">  
                            <label>Parcela </label>
                            <div class="campo-tags">
                                <b>Nº:</b> {{lancamento.parcela.numero}}, &nbsp;&nbsp;&nbsp; <b>Data:</b> {{lancamento.parcela.data}}, &nbsp;&nbsp;&nbsp; <b>Valor:</b> {{lancamento.parcela.valor | currency:'R$':'symbol':'1.2-2':'pt'}} 
                                <span *ngIf="lancamento.parcela.lancamento && lancamento.parcela.lancamento.codigo > 0">
                                    <BR> <b>Categoria:</b> {{lancamento.parcela.lancamento.categoria.grupo.nome}} - {{lancamento.parcela.lancamento.categoria.nome}} 
                                    <BR> <b>Data do Lançamento:</b> {{lancamento.parcela.lancamento.dataReferencia}}
                                    <BR> <b>Descrição:</b> {{lancamento.parcela.lancamento.descricao}}
                                </span>
                            </div>
                        </div> 

                        <div class="col-sm-12" *ngIf="lancamento.tags && lancamento.tags != ''">  
                            <label>Etiquetas </label>
                            <div class="campo-tags">
                                <tags-list [tags]="lancamento.tags"></tags-list>
                            </div>
                        </div> 
                        <div class="col-sm-12"> &nbsp;</div> 

                        <div [ngClass]="{'col-sm-12': lancamento.codTipoPagamento == TipoPagamentoEnum.A_VISTA
                                    , 'col-sm-6': lancamento.codTipoPagamento == TipoPagamentoEnum.PARCELADO
                                    , 'col-sm-4': lancamento.codTipoPagamento == TipoPagamentoEnum.PARCELADO_CARTAO}" > 
                            <label>Forma de Pagamento </label>
                            <div class="campo-tags">{{lancamento.descTipoPagamento}}</div>
                        </div>

                        <div [ngClass]="{'col-sm-6': lancamento.codTipoPagamento == TipoPagamentoEnum.PARCELADO
                                    , 'col-sm-3': lancamento.codTipoPagamento == TipoPagamentoEnum.PARCELADO_CARTAO}" *ngIf="lancamento.codTipoPagamento > TipoPagamentoEnum.A_VISTA"> 
                            <label>Em quantas vezes?</label>
                            <div class="campo-tags">{{numParcelas}}</div>
                        </div>

                        <div class="col-sm-5" *ngIf="lancamento.codTipoPagamento == TipoPagamentoEnum.PARCELADO_CARTAO">  
                            <label>Cartão </label>
                            <div class="campo-tags">{{lancamento.cartaoCredito.bandeira}} {{lancamento.cartaoCredito.nome}}</div>
                        </div>

                        <div class="col-sm-6"> 
                            <label>Data de Referência </label> 
                            <div class="campo-tags">{{lancamento.dataReferencia}}</div>
                        </div>
                        <div class="col-sm-6">  
                            <label>Valor</label>
                            <div class="campo-tags" *ngIf="lancamento.codTipoPagamento < TipoPagamentoEnum.PARCELADO">{{lancamento.valor | currency:'R$':'symbol':'1.2-2':'pt'}}</div>
                            <div class="campo-tags" *ngIf="lancamento.codTipoPagamento > TipoPagamentoEnum.A_VISTA">{{lancamento.valorPrevisto | currency:'R$':'symbol':'1.2-2':'pt'}}</div>
                        </div> 

                        <div class="col-sm-12">  
                            <label>Descrição </label>
                            <div class="campo-tags">{{lancamento.descricao}}</div>
                        </div> 
                    </div> 
                </div> 
                <div class="col-sm-6" *ngIf="exibeParcelas"> 

                    <div class="ss-table ss-table-striped ss-table-sortable">
                        <table [mfData]="lancamento.listParcelas" #mf="mfDataTable" [mfRowsOnPage]="5">
                            <thead>
                                <tr>
                                    <th>Nº</th>
                                    <th>Data Referência</th> 
                                    <th>Valor</th> 
                                    <th *ngIf="lancamento.categoria.codigo != CAT_FATURA">Data de Pagamento</th> 
                                    <th *ngIf="lancamento.categoria.codigo == CAT_FATURA">Descrição</th> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let parcela of mf.data" > 
                                    <td>{{ parcela.numero }}</td> 
                                    <td>{{ parcela.data }}</td>  
                                    <td>{{ parcela.valor | currency:'R$':'symbol':'1.2-2':'pt'}}</td>  
                                    <td *ngIf="lancamento.categoria.codigo != CAT_FATURA"><span *ngIf="parcela.lancamento">{{ parcela.lancamento.dataReferencia }}</span></td>  
                                    <td *ngIf="lancamento.categoria.codigo == CAT_FATURA">
                                        <span *ngIf="parcela.lancamento"> 
                                           [&nbsp;{{ parcela.lancamento.dataReferencia }}&nbsp;] {{ parcela.lancamento.categoria.grupo.nome }} - {{ parcela.lancamento.categoria.nome }} - {{ parcela.lancamento.descricao }}
                                        </span>
                                    </td>  
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4" style="background-color: #F5F7F8 !important;">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div> 
                </div> 
            </div> 

        </div>

        <div class="ss-modal-footer" >   
            <div style="float: right;">
                <botao label="Fechar" formato="inline" tipo="outline-default" (click)="fechar()" ></botao> 
            </div> 
        </div>
    </div> 
</div> 
 